.whatsapp-icon{
    font-size: 60px;
    color: #25d366;
    filter: drop-shadow( 4px 4px 6px #121212) 
          drop-shadow(-.2px -.2px 0 black);
}
.whatsapp-icon:hover{
    animation: logo-pedido .8s;
}

.ifood-icon{
    width: 100%;
    max-width: 120px;
    filter: drop-shadow( 4px 4px 6px #121212) 
          drop-shadow(-.5px -.5px 0 black);
}
.ifood-icon:hover{
    animation: logo-pedido .8s;
}

@keyframes logo-pedido {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}


.bloco-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pedido-bloco{
    border: 2px solid rgba(0, 0, 0, 0.472);
    background: white;
    width: 100%;
    padding: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.banner-imagem{
    margin-top: 60px;
}

@media (max-width: 870px){
  .pedido-bloco{
    flex-direction: column;
    gap: 40px;
  }
}